!!!
%html
  %head
    %title Robots
    %script{:type => "text/javascript", :src => "robot.js"}
    %script{:type => "text/javascript", :src => "board.js"}
    %script{:type => "text/javascript", :src => "main_loop.js"}
    %script{:type => "text/javascript", :src => "ui/ui.js"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.10.1.min.js"}
  %body
    #board{:style => "border: 1px solid black"}
